<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Изменить информацию об автомобилях, подходящих для таксопарка</title>
    <style>
       form {
          margin: 20px; 
       }
       .err {
        margin: 20px; 
       }
       .form-group{
           max-width: 500px;
       }
       .vis{
            visibility: hidden;
        }
        .hide{
            display: none;
        }
        .new_auto:hover{
            text-decoration: underline;
        }
        .select_class{
            width: 350px;;
        }
       </style>
</head>
<body>
    <div class="container">
    <div class="err" >
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</div>
<h4>Изменить информацию о моделях автомобилей</h4>
<div class="forms"> 
<form action="" method="post" >
    <p>
        <div class="form-group">
            <label for="cur_auto">Выберите модель</label>
            <select class="form-control select_class" id="exampleSelect33" name="cur_auto">
            {% for zap in auto %}
            <option>{{ zap }}</option>
            {% endfor %}
            </select>
          </div>
    </p>
<p>
    <input type="submit" class="btn btn-primary" value = "Редактировать выбранную модель">
</p>
</form>

{% if flag %}
<h3>Вы редактируете модель "{{ aut }}"</h3>
<form action="" method="post" >

    <p>
        <label for="model">Модель</label>
    </p><p>
        <input type="text" name="model", value="{{ aut }}">
    </p>
    <p>
        <label for="fk_plan">Соответствующий тариф</label>
    </p>  
    <p>  
    <select class="form-control select_class" id="exampleSelect121" name="fk_plan">
        {% for plan in plans %}
        <option>{{ plan }}</option>
        {% endfor %}
        </select>
    </p>
    <p>
        <input type="submit" class="btn btn-primary" value="Внести изменения">
    </p>
    </form>

{% endif %}


<form action="" method="post" >
    <p>
        <div class="form-group">
            <label for="del_auto">Выберите модель</label>
            <select class="form-control select_class" id="exampleSelect12" name="del_auto">
            {% for zap in auto %}
            <option>{{ zap }}</option>
            {% endfor %}
            </select>
          </div>
    </p>
<p>
    <input type="submit" class="btn btn-primary" value = "Удалить выбранную модель">
</p>
</form>


<form action="" method="post" >
    <p>
    <div class="form-group">
        <label for="add_auto" class="new_auto">Добавить новую модель:</label>
    </div>
    </p>
    <div class="hid_form hide">
    <p>
        <label for="model1">Модель</label>
    </p><p>
        <input type="text" name="model1">
    </p>
    <p>
        <label for="fk_plan1">Соответствующий тариф</label>
    </p>
    <p>
    <select class="form-control select_class" id="exampleSelect111" name="fk_plan1">
        {% for plan in plans %}
        <option>{{ plan }}</option>
        {% endfor %}
        </select>
    </p>
<p>
    <input type="submit" class="btn btn-primary" value = "Добавить модель">
</p>
</div>
</form>
</div>

</div>
<script>
    $(document).ready(function () {
        $(".new_auto").click(function () {
        $(".hid_form").toggleClass("hide");
        })
    });
    </script>
</body>
</html>