<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Вход</title>
    <style>
       form {
          margin: 20px; 
       }
       .err {
        margin: 20px; 
       }
       .form-group{
           max-width: 500px;
       }
       .vis{
            visibility: hidden;
        }
        .hide{
            display: none;
        }
        .new_pos:hover{
            text-decoration: underline;
        }
        .select_class{
            width: 300px;;
        }
       </style>
</head>
<body>
    <div class="container">

<div class="forms">
    <h3>Вход в центр поддержки</h3> 
    <form action="" method="post" >

        <p>
            <label for="psw2">Пароль:</label>
        </p><p>
            <input type="password" name="psw2">
        </p>
        <p>
            <input type="submit" class="btn btn-primary" value="Войти">
        </p>
        </form>


</div>
</div>

</body>
</html>