<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    
    <title>Операторская</title>
    <style>
       form {
          margin: 20px; 
       }
       .err {
        margin: 20px; 
       }
       .tblock{
           margin-top: 20px;
       }
       .titl{
           margin-bottom: 20px;
       }
       </style>
       <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="err" >
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    </div>

    <div class="container">
        <div class="titl">Доступный список данных</div>

        <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx4' ) }}';">Тарифы</button>
        <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx5' ) }}';">Автомобили</button>
        <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx6' ) }}';">Промокоды</button>
        <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx7' ) }}';">Сотрудники</button>
        <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx8' ) }}';">Должности</button>

        {% if rezplan %}
        <div class="table_content tblock">
            <h2>Информация о тарифах</h2>
            <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx9' ) }}';">Изменить данные о тарифах</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Тариф</th>
                    <th scope="col">Минимальная стоимость (руб)</th>
                    <th scope="col">Бесплатное ожидание (мин)</th>
                    <th scope="col">Платное ожидание (мин)</th>
                    <th scope="col">Таксометр (руб/км)</th>
                    <th scope="col">Встреча с табличкой (руб)</th>
                    <th scope="col">Перевозка животных (руб)</th>
                    <th scope="col">Детское кресло (руб)</th>
                    <th scope="col">Мест в машине</th>
                    <th scope="col">Багаж</th>
                    <th scope="col">До двери (руб)</th>
                    <th scope="col">Ожидание получателя (мин)</th>
                    <th scope="col">В аэропорт (руб)</th>
                    <th scope="col">Из аэропорта (руб)</th>
                </tr>
                </thead>
                <tbody>
                {% for zap in rezplan %}
                <tr class="table-light">
                    {% for khm in zap %}
                            <td>{{khm }}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}


        {% if rezauto %}
        <div class="table_content tblock">
            <h2>Информация об автомобилях</h2>
            <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx10' ) }}';">Изменить данные об автомобилях</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Модель</th>
                    <th scope="col">Соответствующий тариф</th>
                </tr>
                </thead>
                <tbody>
                {% for zap in rezauto %}
                <tr class="table-light">
                    {% for khm in zap %}
                            <td>{{khm }}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}



        {% if rezpromo %}
        <div class="table_content tblock">
            <h2>Информация о промокодах</h2>
            <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx11' ) }}';">Изменить данные о промокодах</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Промокод</th>
                    <th scope="col">Скидка (%)</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Дата окончания действия</th>
                </tr>
                </thead>
                <tbody>
                {% for zap in rezpromo %}
                <tr class="table-light">
                    {% for khm in zap %}
                            <td>{{khm }}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        
        {% if rezworker %}
        <div class="table_content tblock">
            <h2>Информация о сотрудниках</h2>
            <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx12' ) }}';">Изменить данные о сотрудниках</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Должность</th>
                </tr>
                </thead>
                <tbody>
                {% for zap in rezworker %}
                <tr class="table-light">
                    {% for khm in zap %}
                            <td>{{khm }}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}



        {% if rezposition %}
        <div class="table_content tblock">
            <h2>Информация о должностях</h2>
            <button class="btn_plan" type="button" onclick="window.location.href='{{ url_for( 'manage.idx13' ) }}';">Изменить данные о должностях</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Оклад</th>
                </tr>
                </thead>
                <tbody>
                {% for zap in rezposition %}
                <tr class="table-light">
                    {% for khm in zap %}
                            <td>{{khm }}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>


</body>
</html>